body {}

.List {
	/* display: none; */
	/* overflow: hidden; */
	width: 100%;
	background: url(../img/page.png);
	background-size: contain;
	position: relative;
	height: 100vh;
}

.auto_top {
	padding: 0 0 0.5vw 0;
}

.auto_top .auto_top_one {
	text-align: center;
	font-size: 1.5vw;
	color: #f3f9ff;
	font-weight: bold;
	padding-bottom: 0.4vw;
}

.auto_top_two {
	padding-top: 2vw;

}

.auto_top_two_1 {
	padding: 0.4vw 0.6vw;
	background-color: white;
	color: #55aaff;
	font-size: 1.3vw;
	border-radius: 4px;
	margin-left: 10vw;
}

.auto_top_two_2 {
	padding: 0.4vw 0.6vw;
	/* background-color: white; */
	color: #55aaff;
	font-size: 1.3vw;
	border-radius: 4px;
	margin-left: 50vw;
}

.auto_top_two_3 {
	padding: 0.4vw 0.6vw;
	background-color: white;
	color: #55aaff;
	font-size: 1.3vw;
	border-radius: 4px;
	/* margin-left: 30vw; */
}

.auto_head {
	margin-top: 2vw;
	padding: 1vw 0 0 8vw;
}

.head_start {
	background-color: #898989;
	color: white;
	font-size: 1vw;
	border-radius: 50%;
	padding: 0.8vw 0.5vw;
}

.head_stop {
	background-color: red;
	color: white;
	font-size: 1vw;
	border-radius: 50%;
	padding: 0.8vw 0.5vw;
	margin-left: 10vw;
}

.auto_head button {
	padding: 0.4vw 0.7vw;
	background-color: #729bc3;
	border-radius: 4px;
	color: white;
	outline: 0;
	/* border: 0; */
	margin-right: 1vw;
}

.auto_head button:nth-child(3) {
	margin-left: 34vw;
}
.node{
	margin-top: 1vw;
	padding: 0vw 0 0 8vw;

}
.string{
	width: 0.2vw;
	height: 4vw;
	background-color: #6f779c;
	margin-left: 1.4vw;
}



